.titulos {
    background-color:blueviolet;
    color: aquamarine  ;
}

.icon {
font-size: 20px;
color: antiquewhite;

}

body {
    
    text-align: center;
}

.btn {
    background-color: orange;
    border: solid 2px black;
    margin: 2px;
}



h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}